$primary-color: #4953b8;
$accent-color: #f57005;
$secondary-text-color: #6e7a89;
$body-bg-color: #d9d9d9;
$white-color: #fff;
$input-bg-color: #f6f6f6;

$font-primary: 'Inter', sans-serif;
$font-headings: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: $body-bg-color;
  font-family: $font-primary;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* Main Content */
.bg {
  display: grid;
  place-items: center;
  padding: 20px;
}

.autentificacao {
  width: 100%;
  max-width: 900px;
  padding: 75px 50px;
  background: $white-color;
  border-radius: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 80%;
    background: $secondary-text-color;
    opacity: 0.2;
  }
}

.login,
.cadastro {
  margin: 50px;

  h1 {
    font-family: $font-headings;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 70px;
  }
}

input.botao {
  text-align: center;
}

.dados {
  display: block;
  padding: 0 10px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  background: $input-bg-color;
  margin-bottom: 15px;

  &:focus {
    outline: 2px solid $primary-color;
    border-color: transparent;
  }
}

.botao {
  display: inline-block;
  font-family: $font-primary;
  font-weight: 500;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: $white-color;
  background-color: $accent-color;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $primary-color;
  }
}

.txt-sec {
  font-family: $font-primary;
  font-weight: 400;
  color: $primary-color;
  font-size: 18px;
  margin: 10px 0;
}

.cadastro-dados {
  font-family: $font-primary;
  font-weight: 400;
  color: $primary-color;

  &:hover {
    color: $accent-color;
  }
}

.contato-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.contato-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.login-error {
  color: #d32f2f; // Um tom de vermelho
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .autentificacao {
    width: 70%;
    grid-template-columns: 1fr;
    padding: 25px 50px;

    &::after {
      margin-top: 30px;
      width: 60%;
      height: 2px;
    }
  }

  .login,
  .cadastro {
    margin: 50px;
    text-align: center;

    h1 {
      margin: 50px 0;
      font-size: 1.2rem;
    }
  }

  .dados {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .cadastro div {
    display: inline-flex;
    gap: 5px;
  }

  .contato-wrapper {
    justify-content: center;
  }

  .botao {
    padding: 5px;
  }

  .txt-sec,
  .cadastro-dados {
    font-size: 0.85rem;
  }

  .bg-footer p {
    font-size: 0.7rem;
  }
}
