.post-list-wrapper {
  padding-top: 60px;
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
  width: 100%;
  position: relative;

  .admin-actions{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .post-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--spacing-2xl);
    margin-top: var(--spacing-2xl);
    margin-bottom: var(--spacing-2xl);
    box-sizing: border-box;

    h2,
    .section-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-2xl);
      margin-bottom: var(--spacing-xl);
      color: var(--text-primary);
    }
  }

  .section-title {
    padding-top: var(--spacing-2xl);
    padding-left: var(--spacing-2xl);
    color: var(--text-primary);
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight-bold);
  }
}

.post-list-header {
  display: flex;
  justify-content: flex-end; // joga o botão para a direita
  margin-bottom: 20px;

.create-btn {
        font-family: 'Inter', sans-serif;
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-md);
        display: flex;
        background: var(--secondary-main);
        color: var(--primary-contrast);
        text-align: center;
        padding: var(--spacing-sm) var(--spacing-lg);
        border-radius: var(--border-radius-sm);
        text-decoration: none;
        margin-top: var(--spacing-xs);  
        
        &:hover {
          background: var(--secondary-dark);
        }
      }
    }

    .search-post {
      padding-left: 120px;
      padding-top: 80px;
    }

/* Tablet */
@media (max-width: 1024px) {
  .post-list-wrapper {
    .post-list {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-xl);
      margin-top: var(--spacing-xl);
      margin-bottom: var(--spacing-xl);
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .post-list-wrapper {
    .post-list {
      grid-template-columns: 1fr;
      gap: var(--spacing-lg);
      margin-top: var(--spacing-lg);
      margin-bottom: var(--spacing-lg);
    }
  }
}
